@import "../../styles/variables";
@import "../../styles/mixin";
.planet__container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
  color: aliceblue;
  @include flex($direction: column, $gap: 100px);

  .planet_info_box {
    @include grid-layout(45% 35%, 20%);
    @include respond-to(lg) {
      @include grid-layout(1fr, 40px);
      margin: 0 auto;
      width: 90%;
    }
  }
  .planet_item {
    width: 100%;
    height: auto;
    @include flex;
    position: relative;

    @include respond-to(lg) {
      width: 50%;
      margin: 0 auto;
    }
  }
  .planet_img {
    width: 80%;
    height: auto;
  }
  .geology_overlay_img {
    position: absolute;
    top: 80%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
  }
}

.planet_info {
  width: 100%;
  color: $color-white;
  @include flex($direction: column, $align: flex-start);

  @include respond-to(lg) {
    @include grid-layout(50% 40%, 10%);
    align-items: end;
  }
  .planet_name {
    font-size: $planet-name-font;
    text-transform: $text-style;
    font-family: $primary-font;
    letter-spacing: 1.5px;
    margin-bottom: 16px;
    @include respond-to(lg) {
      font-size: $planet-name-small-font;
    }
  }

  p {
    font-family: $secondary-font;
    font-size: $text-font;
    line-height: $line-height;
  }

  a {
    color: $color-white;
    text-decoration: none;
    font-size: $text-font;
    line-height: $line-height;
    margin-right: 8px;
    opacity: 0.5;
  }

  .button_container {
    @include flex($direction: column, $justify: space-between);
    width: 100%;
    button {
      @include button-styles;

      &:active {
        opacity: 0.8;
      }

      span {
        margin: 0 24px;
        @include respond-to(lg) {
          margin: 0 12px;
        }
      }
    }
  }
}

.planet_facts {
  width: 100%;
  @include grid-layout(repeat(4, 1fr), 30px);

  .planet_facts_box {
    border: 1px solid $color-grey;
    color: $color-white;
    padding: 20px 60px 20px 20px;
    @include flex($direction: column, $gap: 0, $align: flex-start);
    text-transform: $text-style;
    cursor: pointer;
    transition: all 0.3s ease-out;
    @include respond-to(lg) {
      padding: 20px;
    }

    &:hover {
      transform: scale(1.05);
    }

    p {
      text-transform: $text-style;
      font-size: $small-font;
      opacity: 0.5;
      margin-bottom: 24px;
    }

    .fact_numbers {
      font-size: 40px;
      font-family: $primary-font;
      opacity: 1;
      @include respond-to(lg) {
        font-size: $large-text-font;
      }
    }
  }
}
