@import "./variables";

@mixin flex(
  $direction: row,
  $justify: space-between,
  $align: center,
  $gap: 24px
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin grid-layout($columns: repeat(4, 1fr), $gap: 30px) {
  display: grid;
  grid-template-columns: $columns;
  gap: $gap;
  width: 100%;
}

@mixin button-styles {
  width: 100%;
  padding: 12px 0;
  font-size: $small-font;
  font-weight: $font-semi-bold;
  letter-spacing: $letter-spacing;
  color: $color-white;
  line-height: $line-height;
  text-transform: $text-style;
  text-align: left;
  letter-spacing: 2.5px;
  border: 1px solid $color-grey;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.2s ease-out;
  @include respond-to(md) {
    border: none;
    text-align: center;
    border-radius: 10px;
    width: auto;
    padding: 10px;
    font-size: $font-size-xs;
  }
  @include respond-to(sm) {
    padding: 4px;
    font-size: 8px;
  }

  &:hover {
    filter: brightness(0.8);
  }
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (max-width: 1440px) {
      @content;
    }
  }
}
