@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
$color-white: #ffff;
$color-black: #000;
$color-orange: #d14c32;
$color-grey: #edede9;
$color-blue: #2d68f0;
$text-style: uppercase;
$font-weight: bold;
$font-semi-bold: 600;
$primary-font: "Antonio", sans-serif;
$secondary-font: "League Spartan", sans-serif;
$letter-spacing: 2px;
$planet-name-font: 80px;
$planet-name-small-font: 64px;
$large-text-font: 24px;
$text-font: 16px;
$small-font: 14px;
$line-height: 25px;
$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
