@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
$color-white: #ffff;
$color-black: #000;
$color-dark: #070722;
$color-orange: #d14c32;
$color-grey: #edede9;
$color-blue: #2d68f0;
$color-light-blue: #419ebb;
$color-gold: #eda249;
$color-purple: #6d2ed5;
$color-tangerine: #d83a34;
$color-dark-orange: #cd5120;
$color-cyan: #1ec1a2;
$text-style: uppercase;
$font-weight: bold;
$font-semi-bold: 600;
$primary-font: "Antonio", sans-serif;
$secondary-font: "League Spartan", sans-serif;
$letter-spacing: 2px;
$planet-name-font: 80px;
$large-text-font: 24px;
$text-font: 16px;
$small-font: 14px;
$line-height: 25px;
