@import "./styles/variables";
@import "./styles/mixin";

body {
  background-color: $color-black;

  .app_container {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    padding-top: 200px;
  }
}
